@charset "utf-8";
/* 비즈니스 상단 */
.business-top h2 {
  position: relative;
  padding-top: 100px;
  padding-bottom: 22px;
  font-size: 44px;
  text-align: center;
}
.business-top h2::after {
  content: "";
  position: absolute;
  left: 49%;
  bottom: 0px;
  width: 37px;
  height: 4px;
  background-color: #ff0000;
}
.business-top p {
  margin-top: 25px;
  text-align: center;
}
/* 비즈니스 하단 */
/* .business-bottom {
  width: 100%;
  height: 420px;
  margin: 70px auto;
  background: url(../images/img_business.png) no-repeat center;
} */
.business-list {
  width: 100%;
  height: 420px;
  position: relative;
  display: flex;
  margin: 70px auto;
  text-align: center;
}
.business-list > li {
  width: calc(100% / 5);
  background: url(../images/img_business.png) no-repeat center;
  background-position: 0px 0px;
}
.business-list > li:nth-child(1) {
  background-position: calc(240px * 0) 0px;
}
.business-list > li:nth-child(2) {
  background-position: calc(240px * -1) 0px;
}
.business-list > li:nth-child(3) {
  background-position: calc(240px * -2) 0px;
}
.business-list > li:nth-child(4) {
  background-position: calc(240px * -3) 0px;
}
.business-list > li:nth-child(5) {
  background-position: calc(240px * -4) 0px;
}
.business-list li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 98px;
  color: #fff;
  font-size: 24px;
  /* background-color: #f47f2500; */
  transition: all 0.3s;
}
.business-list > li > a:hover {
  background-color: #f48025;
}
.business-list > li > a::after {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 129px;
  height: 114px;
  background: url(../images/bg_common.png) no-repeat;
  background-position: 0px 0px;
  opacity: 0;
  transition: 0.3s;
}
.business-list > li:nth-child(1) > a::after {
  background-position: -168px 0px;
}
.business-list > li:nth-child(2) > a::after {
  background-position: -298px 0px;
}
.business-list > li:nth-child(3) > a::after {
  background-position: 0px -121px;
}
.business-list > li:nth-child(4) > a::after {
  background-position: -139px -121px;
}
.business-list > li:nth-child(5) > a::after {
  background-position: -272px -121px;
}
.business-list > li > a:hover::after {
  opacity: 1;
}
