@charset "utf-8";
.footer {
  background-color: #4e4e4e;
  padding: 50px 0;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-txt p {
  font-size: 13px;
  line-height: 1.8;
  color: #c3c3c3;
}
.footer-txt {
  width: 80%;
}
