@charset "utf-8";
/* css 파일 연결 */
@import url("modal.css");
@import url("quickMenu.css");
@import url("header.css");
@import url("visual.css");
@import url("business.css");
@import url("news.css");
@import url("cs.css");
@import url("about.css");
@import url("footer.css");

/* 폰트 적용 */
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
a[href="#"] {
  pointer-events: none;
  cursor: default;
}
body {
  font-family: "Noto Sans", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}
/* 공통영역 */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  /* background-color: red; */
}
.wrap {
  position: relative;
  display: block;
}
